@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cream: #E8E6E3;
  --mint: #B6CCBE;
  --moss: #376048;
  --deep-green: #013817;
  --gray-orange: #be945f;
  --light-orange: #fef6df;
  --white: #FFFFFF;
}

@theme inline {
  /* Brand Colors */
  --color-white: var(--white);
  --color-cream: var(--cream);
  --color-mint: var(--mint);
  --color-moss: var(--moss);
  --color-deep-green: var(--deep-green);
  --color-gray-orange: var(--gray-orange);
  --color-light-orange: var(--light-orange);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}